/* write your code here */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2{
    font-size:5rem;
    color:black;
    font-family: sans-serif;
    letter-spacing: 10px;
    text-transform: uppercase;
}

body
{
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}